@using Mittons.Messaging.Email.Example.Layouts

<LayoutView Layout="@typeof(DefaultEmailLayout)">
    <p>Invoice Number: @InvoiceNumber</p>
    <p>Invoice Date: @InvoiceDate</p>
    <p>Amount: @Amount</p>
</LayoutView>
